include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body.index
    include layout/__header
  
    +b('main').main
      +b('section').banner
        +e.car.swiper-container.js-banner
          .swiper-wrapper
            .swiper-slide
              +e.slide
                +e.slide-inner
                  +e.img(src="img/banner.jpg")
                  +e.inner 
                    +e('p').title «Русский Кварц» – единственный в РФ производитель высокочистого кварцевого концентрата.
                    +e('p').text Природный кварц — распространённый минерал, один из главных породообразующих минералов горных пород. Тем не менее, на практике редко встречаются месторождения, обладающие коммерческой значимостью.
            .swiper-slide
              +e.slide
                +e.slide-inner
                  +e.img(src="img/banner2.jpg")
                  +e.inner 
                    +e('p').title Следующий слайд с текстом покороче
          .swiper-buttons
            button.swiper-button-prev
            button.swiper-button-next

      +b('section').catalog._index.h-anim
        +e('span').decor._decor1
        +e('span').decor._decor2
        section.container
          +e('p').title Каталог продукции
          +e.cols
            +e.col
              +e('p').subtitle Компания производит высокочистый кварцевый концентрат под маркой Russian Quartz.
            +e.col
              +e('p').subtitle Брошюра с продукцией «Русский Кварц»
              +e('ul').downloads
                +e.downloads-item(data-type="file")
                  +e.downloads-href(href="#") Скачать
                  +e('span').downloads-info pdf, 3.2 мб
                //- +e.downloads-item(data-type="print")
                //-   +e.downloads-href(href="#") Распечатать
          +e.types.swiper-container.js-types
            .swiper-wrapper
              .swiper-slide
                +e.type.js-type(data-type="RQ-3K")
                  +e.type-href(href="#") RQ-3K
                  +e('p').type-admixture < 12 ppm примесей
                  +e('p').type-about Применяется в производстве кварцевого освещения, включая автомобильные ксеноновые, галогенные и HID-лампы, внешнего слоя тиглей для фотоэлектрической промышленности.
              .swiper-slide
                +e.type.js-type(data-type="RQ-2K")
                  +e.type-href(href="#") RQ-2K
                  +e('p').type-admixture < 10 ppm примесей
                  +e('p').type-about Применяется в производстве тиглей Чохральского для фотоэлектрической промышленности, кварцевых трубок и слитков, кварцевого освещения.
              .swiper-slide
                +e.type.js-type(data-type="RQ-2Kf")
                  +e.type-href(href="#") RQ-2Kf
                  +e('p').type-admixture < 10 ppm примесей
                  +e('p').type-about Применяется в производстве крупногабаритных кварцевые трубки и слитков.
              .swiper-slide
                +e.type.js-type(data-type="RQ-1K")
                  +e.type-href(href="#") RQ-1K
                  +e('p').type-admixture < 10 ppm примесей
                  +e('p').type-about Применяется в производстве кварцевого освещения, включая автомобильные ксеноновые, галогенные и HID-лампы, внешнего слоя тиглей для фотоэлектрической промышленности.
              .swiper-slide
                +e.type.js-type(data-type="RQ-2Ki")
                  +e.type-href(href="#") RQ-2Ki
                  +e('p').type-admixture < 5 ppm примесей
                  +e('p').type-about Текст из двух слов
              .swiper-slide
                +e.type.js-type(data-type="RQ-2KFf")
                  +e.type-href(href="#") RQ-2KFf
                  +e('p').type-admixture < 10 ppm примесей
                  +e('p').type-about Применяется в производстве кварцевого освещения, включая автомобильные ксеноновые, галогенные и HID-лампы, внешнего слоя тиглей для фотоэлектрической промышленности.
        +e.table-wrapper
          +e('table').table.js-types-table
            thead
              th 
              th 
                span(title="All inclusive", alt="All inclusive") Al
              th 
                span(title="Текст подсказки", alt="Текст подсказки") B
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Ca
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Cr
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Cu
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Fe
              th 
                span(title="Текст подсказки", alt="Текст подсказки") K
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Li
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Mg
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Ni
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Na
              th 
                span(title="Текст подсказки", alt="Текст подсказки") Ti
            tbody
              tr(data-type="RQ-2KFf")
                td.catalog__table-name 
                  span(title="Текст подсказки", alt="Текст подсказки") RQ-2KFf
                td 6
                td n/a
                td 0,5
                td n/a
                td n/a
                td 0,5
                td 0,3
                td 0,3
                td 0,2
                td < 0,1
                td 0,6
                td 2,9
              tr(data-type="RQ-2Ki")
                td.catalog__table-name 
                  span(title="Текст подсказки", alt="Текст подсказки") RQ-2Ki
                td 4
                td < 0,1
                td 0,2
                td < 0,01
                td < 0,01
                td 0,2
                td 0,1
                td 0,3
                td 0,1
                td < 0,01
                td 0,6
                td 2,9
              tr(data-type="RQ-3K")
                td.catalog__table-name 
                  span(title="Текст подсказки", alt="Текст подсказки") RQ-3K
                td 6
                td n/a
                td 0,5
                td n/a
                td n/a
                td 0,5
                td 0,3
                td 0,3
                td 0,2
                td < 0,1
                td 0,6
                td 2,9
              tr(data-type="RQ-2Kf")
                td.catalog__table-name 
                  span(title="Текст подсказки", alt="Текст подсказки") RQ-2Kf
                td 4
                td < 0,1
                td 0,2
                td < 0,01
                td < 0,01
                td 0,2
                td 0,1
                td 0,3
                td 0,1
                td < 0,01
                td 0,6
                td 2,9
              tr(data-type="RQ-2K")
                td.catalog__table-name 
                  span(title="Текст подсказки", alt="Текст подсказки") RQ-2K
                td 6
                td n/a
                td 0,5
                td n/a
                td n/a
                td 0,5
                td 0,3
                td 0,3
                td 0,2
                td < 0,1
                td 0,6
                td 2,9
              tr(data-type="RQ-1K")
                td.catalog__table-name 
                  span(title="Текст подсказки", alt="Текст подсказки") RQ-1K
                td 4
                td < 0,1
                td 0,2
                td < 0,01
                td < 0,01
                td 0,2
                td 0,1
                td 0,3
                td 0,1
                td < 0,01
                td 0,6
                td 2,9
        +e('p').table-hint Химический состав ВЧК РК (технические требования), ppm

      +b('section').about._inner.js-about
        +e.wrapper.block1.js-sticky-parent
          +e.fixer.js-sticky
            +e.fixer-inner.js-sticky-inner
              +e('button').back.js-about-back
              +e('section').mapover
                script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
                +e.map#about__map
              include ../img/svg/Map-russia-shape.svg
              +e.block-tomap
                +e('button').block-tobtn.btn._white.js-about-mapshower(arial-label="Показать маршрут на карте", data-from="55.159897, 61.402554", data-from2="56.838011, 60.597465", data-to="55.707877, 60.538949") Показать маршрут на карте
              +e.block._block1.js-block
                .container
                  +e.cols
                    +e.col
                      +e('p').block-title «Русский Кварц» владеет двумя производственными площадками, которые расположены в районе города Кыштым, Челябинской области, РФ.
              +e.block._block2.js-block
                .container
                  +e.cols
                    +e.col
                      +e('p').block-title.mobile Расстояние от Екатеринбурга составляет ~155 км (2 часа 10 минут в пути), расстояние от Челябинска составляет ~100 км (1 час 30 минут в пути).
                      +e.block-text 
                        p Данный район является исторически промышленно развитым, в связи с чем Компания не имеет каких-либо ограничений с точки зрения инфраструктуры и логистики. 
              +e.block._block3.js-block
                .container
                  +e.cols
                    +e.col
                      +e.block-text.mobile
                        p
                          span 1
                          |  Здесь расположен административный корпус компании «Русский Кварц», лаборатория и цех глубокого обогащения, а так же 
                          span 2
                          |  дробильно-сортировочный цех вблизи жилы 175.
                      +e('p').block-title Особенность нашего продукта определяется уникальными свойствами кварцевого месторождения — жилы №175.
        +e.lead
          .container
            +e.cols
              +e.col
                +e('p').lead-title Жила №175 на всем своем протяжении имеет природный кварц с&nbsp;уникальным сочетанием свойств.
              +e.col
                +e.lead-text
                  p Минимальное содержание B и P, самое низкое содержание Al, щелочи, Cu, Ni, Cr, Fe, низкое содержание пузырьков и минеральных включений.
                  p После очистки общее число примесей в сортах RQ-2K/1K не превышает 10 ppm, что позволяет использовать кварц из этой жилы во всех областях применения, где требуются изделия из кварцевого стекла.
                +e.lead-href(href="#") Узнать больше о месторождении
          +e.lead-car-wrapper
            +e.lead-car.swiper-container.js-leads
              .swiper-wrapper
                .swiper-slide
                  a(href="img/lead1.jpg").glightbox
                    +e.lead-img(src="img/lead1.jpg", alt="", title="")
                .swiper-slide
                  a(href="img/lead2.jpg").glightbox
                    +e.lead-img(src="img/lead2.jpg", alt="", title="")
                .swiper-slide
                  a(href="img/lead3.jpg").glightbox
                    +e.lead-img(src="img/lead3.jpg", alt="", title="")
                .swiper-slide
                  a(href="img/lead4.jpg").glightbox
                    +e.lead-img(src="img/lead4.jpg", alt="", title="")
                .swiper-slide
                  a(href="img/lead5.jpg").glightbox
                    +e.lead-img(src="img/lead5.jpg", alt="", title="")
                .swiper-slide
                  a(href="img/lead6.jpg").glightbox
                    +e.lead-img(src="img/lead6.jpg", alt="", title="")

    include layout/__footer
    include layout/__scripts