include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
            +e('span').current Результаты поиска
          h1 Результаты поиска
          +e.content
            +b('section').search
              +e('form').form
                input.search__input(type="text", data-req="req", placeholder="Что будем искать?", value="Русский кварц")
                button.search__sbm(type="submit", aria-label="Найти")
              +e('p').text По вашему запросу «
                span Русский Кварц
                | » найдено 15 страниц.
              +e('ul').list
                +e.item
                  +e.item-href(href="#") 
                    span Русский кварц
                    |  победил в конкурсе «Лучший экспортер Челябинской области 2016» в номинации «Средний бизнес»
                  +e('p').item-text Применяется в производстве тиглей Чохральского для фотоэлектрической промышленности, кварцевых трубок и слитков, кварцевого освещения.
                +e.item
                  +e.item-href(href="#") ООО «
                    span Русский Кварц
                    | » переименовал сорт высокочистого кварцевого концентрата RQ-Os в RQ-3K
                  +e('p').item-text В связи с проведением работ по стандартизации и приведению к единому стилю наименований сортов в классификации высокочистых кварцевых концентратов, выпускаемых ООО «
                    span Русский кварц
                    | ».
                +e.item
                  +e.item-href(href="#") RQ-1K — новый сорт для полупроводниковой промышленности
                  +e('p').item-text 
                    span Русский кварц 
                    | начинает промышленное производство нового сорта ВЧК под названием RQ-1K, разработанного специально для использования в полупроводниковой промышленности Химический и гранулометрический состав сорта RQ-1K.
                +e.item
                  +e.item-href(href="#") Запущена вторая очередь цеха глубокого обогащения кварцевых концентратов
                  +e('p').item-text В декабре 2016 года в присутствии Председателя правления ООО УК «РОСНАНО» А.Б.Чубайса произведен запуск 2й очереди цеха глубокого обогащения.
                +e.item
                  +e.item-href(href="#") Комбинат перешел полностью на импортные реагенты
                  +e('p').item-text После экспериментов с реагентами различных производителей комбинат полностью перешел на использование импортных реагентов, которые показывают устойчивое качество.
                +e.item
                  +e.item-href(href="#") Быть ли 450-мм кремниевым пластинам?
                  +e('p').item-text В индустрии полупроводниковых устройств наблюдается сейчас одна важная тенденция — переход на использование кремниевых пластин все большего диаметра.
              
            +b('section').more._left
              +e(type="button").button.btn Показать еще результаты
       
    include layout/__footer
    include layout/__scripts