include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
          h1 Очень большой заголовок первого уровня
          +e.content
            p С 1966 года мы добываем и перерабатываем природный жильный кварц, постоянно совершенствуя процесс добычи и переработки кварцевого сырья. 
              a(href="#") Высокочистые кварцевые концентраты
              | , которые мы выпускаем, применяются для производства широкого спектра инновационной продукции — от элементов полупроводниковой электроники и деталей медицинской аппаратуры до фотоэлектрических преобразователей — солнечных батарей.
            img(src="img/text.jpg")
            p Получение высокотехнологичного продукта необходимой заказчикам чистоты достигается за счет инвестиций в научно-конструкторские разработки (что подтверждается целым рядом собственных патентов) и непрерывной модернизацией производства.
            h2 Очень большой заголовок второго уровня чтобы показать интерлиньяж
            p Основным источником высокочистого кварцевого куска является уникальный объект — жила №175, содержащая природный кварц с редким сочетанием свойств:
            ul
              li Большой запас промышленно доступного сырья, полностью подготовленного к добыче (этого количества достаточно более чем на 50 лет работы комбината).
              li Неглубокое залегание (от 30 до 90 м).
              li Неповторимые свойства кварцевой руды.
            p В своей научно-исследовательской и конструкторской работе комбинат опирается не только на свой опыт и исследования, но и активно привлекает подрядчиков — ряд других научно-исследовательских и академических организаций.
            p Направления модернизации основного производства на 2010-2017 годы:
            ol
              li уменьшение прямых издержек при производстве высокочистых кварцевых концентратов;
              li снижение экологической нагрузки на окружающую среду;
              li утилизация промышленных отходов;
              li подготовка создания новых товарных продуктов для Российского и внешнего рынка из тонкодисперсного кварца;
              li разработка процесса сфероидизации кварцевой пудры;
              li совершенствование технологического процесса для интенсификации выщелачивания и промывки;
              li автоматизация производства;
              li совершенствование системы непрерывного контроля качества.
            h3 Очень-очень большой заголовок третьего уровня, чтобы показать интерлиньяж
            p Базовые сорта высокочистых кварцевых концентратов, выпускаемые ОАО «Кыштымский ГОК», имеют следующие характеристики:
            table
              thead
                th
                th RQ-2KFf
                th RQ-2Ki
                th RQ-3K
                th RQ-2Kf
                th RQ-2K
                th RQ-1K
              tbody
                tr
                  td Основная фракция, мкм
                  td 100 – 300
                  td 100 – 300
                  td 100 – 300
                  td 75 – 165
                  td 75 – 300
                  td 75 – 300
                tr
                  td Массовая доля основной фракции, %
                  td 97
                  td 97
                  td 96
                  td 93
                  td 97
                  td 97
                tr
                  td Мельче, не более, %
                  td 2
                  td 1.5
                  td 2
                  td 5
                  td 1.5
                  td 1.5
                tr
                  td Крупнее, не более, %
                  td 1
                  td 1.5
                  td 2
                  td 2
                  td 1.5
                  td 1.5
            p Помимо выпускаемой базовой номенклатуры продукции, наше предприятие готово рассмотреть запросы на поставку кварцевых концентратов с характеристиками, необходимыми заказчику и отличающимися от характеристик базовых сортов.
       
    include layout/__footer
    include layout/__scripts