.header
  pos absolute
  t 0
  l 0
  r 0
  c black
  z-index 10
  padding 30px 33px 0
  df(flex-start, space-between)
  @media $LandscapeMax
    c white
  /.index &
    c white
  @media $LandscapeMax
    padding 20px 20px 0
  &__logo
    pos relative
    t -2px
    &-img
      max-width 100%
      max-height 100%
      &_mobile
        dn()
      /body.index &
        @media $LandscapeMedium
          dn()
          &_mobile
            db()
      @media $PortraitMax
        max-height 65px
  &__row
    df(center, flex-end)
    @media $LandscapeMax
      &:first-child
        dn()
    & + &
      mt 26px
      @media $LandscapeMax
        mt 0
  &__lang
    &-href
      c inherit
      fontify 15px 500 15px
      bb(1px, solid, white)
      & + &
        ml 30px
  &__tel
    c inherit
    fontify 18px 500 18px
    ml 30px
  &__btn
    ml 30px
    mr -2px
    @media $LandscapeMax
      ml 0
      mr auto
      c #010101
      &:before
        bgc white