.about
  &:not(&_catalog)
    bgc $blue
  &__cols
    df()
    @media $PortraitMax
      flex-direction column
  &__col
    w calc(50% - 25px)
    @media $desktopMax
      w calc(50% - 16px)
    @media $PortraitMax
      w 100%
    & + &
      ml 50px
      @media $desktopMax
        ml 32px
      @media $PortraitMax
        ml 0
        mt 19px
  &__wrapper
    h 300vh
    oh()
    @media $PortraitMax
      h auto
      pt 50px
  &__fixer
    h 100vh
    @media $PortraitMax
      height auto !important
    &-inner
      pos relative
      size 100% 100vh
      @media $PortraitMax
        position relative !important
        width 100% !important
        h auto
  &__map
    pos absolute
    size 100%
    t 0
    l 0
    opacity 0
    visibility hidden
    transition .7s opacity, .7s visibility
    pointer-events none
    filter saturate(150%) brightness(83%)
    /body.showmap &
      opacity 1
      visibility visible
      z-index 3
      pointer-events all
    &over
      @media $PortraitMax
        dn()
  &__back
    cursor pointer
    pos absolute
    size 33px
    r 33px
    t 33px
    opacity 0
    z-index 30
    visibility hidden
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAaCAQAAADsge97AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBgQOGCYGrpHVAAAAs0lEQVQ4y5XUUQ6DIAyA4bJzcP97bDvBjMsSPMy/B0JAbEvFFwU/Am1T4c1GRoJP5suHJOzAEYSZA/iR2msEDn/WzxKAp+3b1ApOZ+rTHrxcZFyyoHL787IG1ZDN+87QiPP1QCM0k6Ndv0Eno3rcKnTKwMpSAS+TD9FHEn84yS13DtkD4VSOXxEmXJWRAZdlpMMVMuAaqTCCFNhRWTaFMjaFGJpgbXgR1OGOCM+b7XXjhfwBP4Yq+YhM2FUAAAAASUVORK5CYII=") no-repeat center
    pointer-events none
    transition .7s visibility, .7s opacity
    /.no-touchevents &
      r 50px
    /body.showmap &
      opacity 1
      visibility visible
      pointer-events all
      &:hover
        opacity .5
  &__block
    pos absolute
    size 100% 100vh
    t 0
    l 0
    z-index 1
    c white
    dfv(center, space-between)
    pt 93px
    opacity 0
    pointer-events none
    visibility hidden
    transition .5s visibility, .5s opacity
    @media $desktopMax
      pt 71px
    @media $LandscapeMax
      pt 55px
    @media $PortraitMax
      pt 0
      h auto
      pos relative
      visibility visible
      pointer-events all
      opacity 1
      &_block2
        mt 30px
      &_block3
        mt 19px
    ^[0]__wrapper.block1 &_block1
      opacity 1
      pointer-events all
      visibility visible
      transition .5s .5s visibility, .5s .5s opacity
    ^[0]__wrapper.block2 &_block2
      opacity 1
      pointer-events all
      visibility visible
      transition .5s .5s visibility, .5s .5s opacity
    ^[0]__wrapper.block3 &_block3
      opacity 1
      pointer-events all
      visibility visible
      transition .5s .5s visibility, .5s .5s opacity
    ^[0]__wrapper.block3 &-tomap,
    ^[0]__wrapper.block2 &-tomap
      opacity 1
      pointer-events all
      visibility visible
      transition .5s .9s visibility, .5s .9s opacity
    &-tomap
      cursor pointer
      position absolute
      z-index 2
      b 100px
      l 50%
      r 0
      font-weight 500
      transform translateX(-50%)
      text-align center
      opacity 0
      pointer-events none
      visibility hidden
      transition .5s visibility, .5s opacity
      @media $desktopMax
        b 71px
      @media $LandscapeMax
        b 50px
      @media $PortraitMedium
        dn()
    &-title
      fontify 30px 600 34px
      @media $desktopMax
        fontify 24px 600 30px
      @media $LandscapeMedium
        fontify 22px 600 26px
      @media $PortraitMedium
        fontify 20px 600 24px
      &.mobile
        @media $PortraitMedium
          fontify 15px 400 21px
    &-text
      max-width 90%
      margin 28px 0
      fontify 17px 400 23px
      @media $desktopMax 
        fontify 15px 400 21px
      &.mobile
        @media $PortraitMedium
          dn()
        & + ^[-2]-title
          mt 20px
      span
        c black
        bgc white
        border-radius 50%
        display inline-block
        vertical-align middle
        size 17px
        text-align center
        fontify 13px 600 17px
        &:first-child
          mt -4px
      &:first-child
        mt 0
      &:last-child
        mb 0
    &-svg
      pos absolute
      t 0
      l 0
      size 100%
      @media $lDesktopSmall
        transform scale(1.5)
        transform-origin center !important
      @media $LandscapeMedium
        transform scale(2.1) translateX(-8%)
      @media $PortraitMax
        dn()
      .map
        backface-visibility hidden
        transition .7s .7s transform
        transform-origin center !important
        .st0
          fill none
          stroke #5c7bb4
          opacity .4
          stroke-width 1.5
          transition 2s stroke
        circle
          fill white
          transition 0.1s 1.4s opacity
      .path1
        opacity 0
        backface-visibility hidden
        transition .7s .7s transform
        transform-origin center !important
        .st1
          fill none
          stroke #FFFFFF
          stroke-width 2
          stroke-miterlimit 10
          transition .4s stroke-width
        .st11
          enable-background new
        .st12
          fill #FFFFFF
          transition .7s opacity
        .st13
          fill #8593BC
          transition .7s opacity
        .st14
          fill #FFFFFF
          stroke #FFFFFF 
          stroke-width 2 
          stroke-miterlimit 10
          transition .7s opacity
      .path2
        opacity 0
        .st2
          fill #3059A5
        .st21
          fill none
          stroke #FFFFFF
          stroke-width 2
          stroke-miterlimit 10
        .st22
          fill #FFFFFF
        .st223
          fill #8593BC
        &_transform
          transform translate3D(20px, -12px, 0)
      ^[0]__wrapper.block2 &
        .map
          transition .7s transform
          transform translate3D(40%, -266%, 0) scale(18)
          .st0
            stroke #113e92
            transition .4s stroke
            &.prefer
              fill rgba(255, 255, 255, .2)
          circle
            opacity 0
            transition 0s opacity
        .path1
          opacity 1
          transition .7s
      ^[0]__wrapper.block3 &
        .map
          transition .7s transform
          transform translate3D(125%, -1058%, 0) scale(70)
          .st0
            stroke #113e92
            &.prefer
              fill rgba(255, 255, 255, .2)
          circle
            opacity 0
            transition 0s opacity
        .path1
          opacity 1
          transform translate3D(-93%, -119%, 0) scale(12)
          transition .7s transform
          .st1
            stroke-width .16
          .st12,
          .st13,
          .st14
            transition .2s opacity
            opacity 0
        .path2
          z-index -1
          opacity 1
          transition .7s .5s
  &__lead
    c white
    pt 91px
    pb 100px
    @media $LandscapeMax
      pt 55px
      pb 60px
    @media $PortraitMax
      pt 0
    &-title
      fontify 30px 600 34px
      max-width 87%
      @media $desktopMax
        fontify 24px 600 30px
        max-width 100%
      @media $LandscapeMedium
        fontify 22px 600 26px
    &-text
      pt 3px
      fontify 17px 400 23px
      mb 28px
      @media $desktopMax 
        fontify 15px 400 21px
      @media $LandscapeMax
        mb 19px
    &-href
      c white
      fontify 17px 500 23px
      bb(1px, solid, white)
      @media $desktopMax 
        fontify 15px 500 21px
    &-car
      mt 75px
      overflow visible
      @media $LandscapeMax
        mt 40px
      &-wrapper
        padding 0 50px
        margin 0 auto
        max-width 1150px
        @media $desktopMax
          padding 0 32px
          max-width 920px
      .swiper-wrapper
        align-items stretch
      .swiper-slide
        w 500px
        h auto
        @media $desktopMax
          w 412px
        @media $LandscapeMedium
          w 312px
        .glightbox
          db()
        // &-prev
        //   cursor url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAaCAQAAACeTo3NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBwEJNA4F252GAAAA+klEQVRIx63VvU5CQRCG4e/AAQuE5YKIsfBKiTEGgRBjsJafKGDlPdhrYmfgpdgQ4BxOsbM702y2eJqdbzZDF8tpooZ6CqxaBfaqW32HYpIot+MdmNBEoV2FjS1YmXN8AEMbVuQcK+CJhg075zw2ILdip5xjDQyo27Ej59gAj3HYgeuyAR5iMc957D4eQ6LLJ9BPgaGMN91I+tXOEKlifeX6lyT9aJuA+xOOZey0nT9Fh2VcFoqD0mERk9TyGHtwFAsej20W9sVU5kSbuXVtXuIO4LMdLF5cMwde0qxPD86AaZrlfgpepeFEixkwDueyim+7pZFy3YWGdg8rInNs0wxWzwAAAABJRU5ErkJggg=='), auto
        // &-next + .swiper-slide
        //   cursor url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAaCAQAAACeTo3NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBwEJNCI3A/FlAAAA+ElEQVRIx63V3UoCQRjG8WfbWENT82K6hC7Aw25PRSJBQlFZKiRLVEroJjyo8zz9eyBCs7sI+87MnM0DP5iP950IlR7f+lVbf0XRRXlNO91pplphRvl5xQxYcJ3PLJyoMAXeqYfhRMIY+KARhhMJT8CSZhhOJAyB1X/QhxMJAxf048Qlj8DmBPpyIuYB+OQmDCdiesAXrTCciOkAW1oRqW4NhZYv1qaklaVmz41Am+0eTy8M1j/drT/mvDxfLFMXvtjQbQN+2CjbpOxYhQmwcFuoFTs2+Ddq7roNq5ICc6rZxIa9AK95zMalwHMRhiLDt73Wj+61L4oOaL5xwudIGxsAAAAASUVORK5CYII='), auto
    &-img
      db()
      size 100%
      object-fit cover
      border-bottom-left-radius 120px
      @media $LandscapeMedium
        border-bottom-left-radius 0
