.banner
  &__car
    .swiper-slide
      oh()
      size 100vw 100vh
      opacity .999 !important
      z-index -1
      @media $LandscapeMax
        h 500px
      @media $PortraitMax
        h 400px
      &-active
        z-index 1
        & ^[0]__slide
          size 100%
          transition-delay 0s
        & ^[0]__img
          transform scale(1.08)
    .swiper-buttons
      df(flex-start, space-between)
      pos absolute
      z-index 1
      b 30px
      r 33px
      w 98px
      @media $LandscapeMax
        r 20px
      @media $PortraitMax
        l 20px
        r auto
  &__slide
    oh()
    pos absolute
    z-index 1
    r 0
    b 0
    bgc black
    size 0 0
    border-top-left-radius 496px
    transition 1s 1s width, 1s 1s height
    @media $LandscapeMedium
      border-radius 0
    &-inner
      pos absolute
      b 0
      r 0
      size 100vw 100vh
      padding 0 30px 13%
      df(flex-end, flex-start)
      @media $desktopMax
        pb 10%
      @media $LandscapeMax
        pl 20px
        pr 20px
        h 500px
      @media $LandscapeMedium
        pb 80px
      @media $PortraitMax
        h 400px
  &__img
    pos absolute
    t 0
    l 0
    z-index -1
    size 100%
    object-fit cover
    opacity .45
    transition 8s transform
  &__inner
    max-width 1020px
    margin 0 auto
    c white
    text-align center
    @media $desktopMax
      max-width 823px
    @media $desktopMedium
      max-width 700px
    @media $LandscapeMedium
      max-width 80%
    @media $PortraitMax
      text-align left
      margin-left 0
    @media $PortraitMin
      max-width 100%
  &__title
    fontify 60px 600 64px
    @media $desktopMax
      fontify 48px 600 52px
    @media $desktopMedium
      fontify 36px 600 40px
    @media $LandscapeMedium
      fontify 32px 600 36px
    @media $PortraitMax
      fontify 26px 600 30px
  &__text
    mt 30px
    fontify 17px 400 23px
    @media $desktopMax
      fontify 15px 400 21px
    @media $PortraitMax
      dn()