.catalog
  pos relative
  &_index
    pt 91px
    pb 95px
    pos relative
    z-index 1
    @media $desktopMax
      pt 87px
    @media $LandscapeMax
      pt 58px
      pb 65px
    & ^[0]__decor
      pos absolute
      z-index -1
      @media $LandscapeMax
        dn()
      &_decor1
        t 10%
        r 9%
        size 217px 230px
        background url('../i/rock1.png') no-repeat center
      &_decor2
        t 45%
        l 30%
        size 149px 169px
        background url('../i/rock2.png') no-repeat center
        @media $desktopMax
          l 10%
  &__title
    c #010101
    fontify 48px 600 52px
    mb 27px
    ml -3px
    @media $desktopMax
      fontify 36px 600 52px
      mb 22px
    @media $LandscapeMedium
      fontify 32px 600 36px
    @media $PortraitMax
      fontify 26px 600 30px
  &__cols
    df()
    mb 44px
    @media $desktopMax
      mb 34px
    @media $LandscapeMedium
      flex-direction column
  &__col
    w calc(50% - 25px)
    @media $desktopMax
      w calc(50% - 16px)
    @media $LandscapeMedium
      w 100%
    & + &
      ml 50px
      @media $desktopMax
        ml 32px
      @media $LandscapeMedium
        ml 0
        mt 19px
  &__subtitle
    fontify 17px 400 23px
    max-width 445px
    @media $desktopMax
      fontify 15px 400 21px
    @media $LandscapeMedium
      max-width 540px
  &__downloads
    df()
    flex-wrap wrap
    ml -30px
    mt 14px
    w calc(100% + 30px)
    &-item
      pos relative
      pl 22px
      ml 30px
      &:before
        content ""
        pos absolute
        l 0
        t 5px
        size 14px 14px
      &[data-type="file"]:before
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAPFBMVEURPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpL///9zGEmvAAAAEnRSTlMAw60O67vLzRW0AYgPh8jE5qqPK3JeAAAAAWJLR0QTDLtclgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MGBAwgNZYLuJ4AAABNSURBVAjXjc9LFoAgDAPA4K+CCpj7H1a0VnBHVp1F2lc4WoYRAKdZs1DWQg9N2Ch7JXCUuWGIbAn/UJc743uoj9pNxt/mfH7JRH3hLlyjXQd2Ka+cMQAAAABJRU5ErkJggg==') no-repeat center
      &[data-type="print"]:before
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEX///8RPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpL////jC7s7AAAACXRSTlMAAMPru7TmqsRim+vmAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MGBAwhCjl2pOIAAABTSURBVAjXY2BgmjlzpgIDg6AkkJ4oCKc1Z4LAJIbJLiBgyTBVEAQiETRYHYg2cXEG0tMqAwVFp2cC9QHpmTOA5gBpoDmMkunlZRMZGBiFgOobGQAodB/BL+fcjgAAAABJRU5ErkJggg==') no-repeat center
    &-href
      c black
      fontify 15px 500 21px
      bb(1px, solid, black)
    &-info
      c $grey
      fontify 14px 400 20px
      ml 8px
  &__types
    overflow visible
    mb 50px
    @media $desktopMax
      mb 40px
    @media $PortraitMax
      mb 0
    &-list
      dfv()
    &-item
      w 100%
      & + &
        mt 30px
    .swiper-wrapper
      align-items stretch
    .swiper-slide
      w 500px
      h auto
      @media $desktopMax
        w 412px
      @media $LandscapeMedium
        w 312px
      &-prev
        cursor url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAaCAQAAACeTo3NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBwEIAxP3GDtcAAAA+klEQVRIx63VvU5CQRCG4e/AAQuE5YKIsfBKiTEGgRBjsJafKGDlPdhrYmfgpdgQ4BxOsbM702y2eJqdbzZDF8tpooZ6CqxaBfaqW32HYpIot+MdmNBEoV2FjS1YmXN8AEMbVuQcK+CJhg075zw2ILdip5xjDQyo27Ej59gAj3HYgeuyAR5iMc957D4eQ6LLJ9BPgaGMN91I+tXOEKlifeX6lyT9aJuA+xOOZey0nT9Fh2VcFoqD0mERk9TyGHtwFAsej20W9sVU5kSbuXVtXuIO4LMdLF5cMwde0qxPD86AaZrlfgpepeFEixkwDueyim+7pZFy3YWGdg8rInNs0wxWzwAAAABJRU5ErkJggg=="), auto
      &-next + .swiper-slide
        cursor url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAaCAQAAACeTo3NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBwkHAgyt42g6AAAA+0lEQVRIx63Vy2oCMRTG8W+MxkWnXp6ga5/EbaFvWEqpV6SIbtqNjr3Zl2nBVQt/F8MwOMbFJDlZfvCDkHNOElS7XvSvOx1cUaO+pl8NtdaVM6P+abMCNqTnmQ8n7CXQjxOWJbCtgr6csDwDW67jcMKyqIIhnLDMgawEwzhhmQEZnTicsExLMJwTLSbAjk4cTjQZAzu6CUsNPAatWkY3kl6bStWPwOWz34pzWcM98E0vDvYA7OnFeArDY4GFc4YnYE83RhsbxsBXgYVxebd9llgIl8/CCRayPqfAxynmv9znwHsV8+PytenA/LgR8ObCUOLxbWf6061+XNERm/xxw6DlclkAAAAASUVORK5CYII='), auto
  &__type
    c black
    size 100% 100%
    border 2px solid #f0f0f0
    padding 23px 50px 97px 47px
    bgc white
    border-bottom-right-radius 90px
    transition .7s background-color, .7s border-color
    @media $desktopMax
      padding 23px 50px 35px 47px
      border-bottom-right-radius 105px
    @media $LandscapeMedium
      border-bottom-right-radius 0
      padding 23px 30px 25px 27px
    &:hover
      c white
      bgc $blue
      border-color $blue
    &-href
      c inherit
      fontify 18px 600 24px
      bb(1px, solid, currentColor)
      transition .7s color, .7s border-color
    &-admixture,
    &-about
      c inherit
      mt 14px
      fontify 17px 400 23px
      transition .7s color
      @media $desktopMax
        fontify 15px 400 21px
  &__table
    w 100%
    th,
    td
      border-top 0 !important
      border-bottom 0 !important
    &-wrapper
      padding 0 32px
      max-width 1364px
      margin 0 auto
      bgc white
      @media $LandscapeMax
        padding 0 20px
      @media $LandscapeMedium
        dn()
    &-hint
      fontify 17px 400 23px
      mt 15px
      text-align center
      @media $desktopMax
        fontify 15px 400 21px
      @media $LandscapeMedium
        dn()
    &-name
      font-weight 600
    .choosed
      bgc $blue
      c white
      transition .7s background-color
      td
        transition .7s border-color, .7s color
        border-color #28519c
  &__info
    df()
    flex-wrap wrap
    @media $PortraitMax
      flex-direction column
    &-col
      pos relative
      w calc(50% - 25px)
      @media $desktopMax
        w calc(50% - 16px)
      @media $PortraitMax
        w 100%
      & + &
        ml 50px
        @media $desktopMax
          ml 32px
        @media $PortraitMax
          ml 0
          mt 25px
    &-title
      fontify 30px 600 34px
      @media $desktopMax
        fontify 24px 600 30px
    &-text
      pt 3px
  .about__lead-car-wrapper
    padding 0
  &__other
    mt 74px
    @media $LandscapeMax
      mt 54px
    @media $PortraitMax
      mt 40px
  &__content
    df()
    margin 74px vw(-275, 1920) 0
    @media $lDesktopSmall1680
      margin 74px vw(-175, 1680) 0
    @media $desktopMax
      margin 74px calc((100% - 100vw + 66px) / 2) 0
    @media $LandscapeMax
      margin 54px 0 0
    &-main
      w calc(67% - 25px)
      mr 50px
      @media $desktopMax
        w calc(67% - 16px)
        mr 32px
      @media $LandscapeMax
        dn()
    &-sidebar
      w calc(33% - 25px)
      @media $desktopMax
        w calc(33% - 16px)
      @media $LandscapeMax
        w 100%
      & ^[0]__types
        @media $LandscapeMax
          &-list
            flex-direction row
            flex-wrap wrap
            align-items stretch
            ml -32px
            w calc(100% + 32px)
            mb -32px
          &-item
            w calc(50% - 32px)
            ml 32px
            mb 32px
            & + ^[0]__types-item
              mt 0
        @media $LandscapeMedium
          &-list
            mb -20px
            ml -20px
          &-item
            w calc(50% - 20px)
            ml 20px
            mb 20px
        @media $PortraitMedium
          &-list
            mb -16px
          &-item
            w calc(100% - 32px)
            mb 16px
    th:first-child
      w 28%
      @media $desktopMin
        w 22%
    th:not(:first-child)
      w 12%
      @media $desktopMin
        w 13%
  &__docs
    dfv(center, flex-start)
    mt 75px
    @media $PortraitMedium
      mt 50px
    & ^[0]__downloads
      justify-content center
  &__decor
    pos absolute
    z-index -1
    @media $LandscapeMax
      dn()
    &_decor1
      t -6%
      r -20%
      size 217px 230px
      background url('../i/rock1.png') no-repeat center
      @media $desktopMax
        r -25%
    &_decor2
      t 19%
      l -20%
      size 149px 169px
      background url('../i/rock2.png') no-repeat center
      @media $desktopMax
        l -24%