.catalog
  &_index
    pt 88px
    pb 95px
    pos relative
    z-index 1
    @media $LandscapeMax
      pt 58px
      pb 65px
  &__decor
    pos absolute
    z-index -1
    @media $LandscapeMax
      dn()
    &_decor1
      t 10%
      r 9%
      size 217px 230px
      background url('../i/rock1.png') no-repeat center
    &_decor2
      t 45%
      l 30%
      size 149px 169px
      background url('../i/rock2.png') no-repeat center
  &__title
    c #010101
    fontify 48px 600 52px
    mb 27px
    @media $desktopMax
      fontify 36px 600 52px
      mb 22px
    @media $LandscapeMedium
      fontify 32px 600 36px
    @media $PortraitMax
      fontify 26px 600 30px
  &__cols
    df()
    mb 35px
    @media $LandscapeMedium
      flex-direction column
  &__col
    w calc(50% - 16px)
    @media $LandscapeMedium
      w 100%
    & + &
      ml 32px
      @media $LandscapeMedium
        ml 0
        mt 19px
  &__subtitle
    fontify 17px 400 23px
    max-width 445px
    @media $desktopMax
      fontify 15px 400 21px
    @media $LandscapeMedium
      max-width 540px
  &__downloads
    df()
    flex-wrap wrap
    ml -30px
    mt 14px
    w calc(100% + 30px)
    &-item
      pos relative
      pl 22px
      ml 30px
      &:before
        content ""
        pos absolute
        l 0
        t 5px
        size 14px 14px
      &[data-type="file"]:before
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAPFBMVEURPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpL///9zGEmvAAAAEnRSTlMAw60O67vLzRW0AYgPh8jE5qqPK3JeAAAAAWJLR0QTDLtclgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MGBAwgNZYLuJ4AAABNSURBVAjXjc9LFoAgDAPA4K+CCpj7H1a0VnBHVp1F2lc4WoYRAKdZs1DWQg9N2Ch7JXCUuWGIbAn/UJc743uoj9pNxt/mfH7JRH3hLlyjXQd2Ka+cMQAAAABJRU5ErkJggg==') no-repeat center
      &[data-type="print"]:before
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEX///8RPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpIRPpL////jC7s7AAAACXRSTlMAAMPru7TmqsRim+vmAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MGBAwhCjl2pOIAAABTSURBVAjXY2BgmjlzpgIDg6AkkJ4oCKc1Z4LAJIbJLiBgyTBVEAQiETRYHYg2cXEG0tMqAwVFp2cC9QHpmTOA5gBpoDmMkunlZRMZGBiFgOobGQAodB/BL+fcjgAAAABJRU5ErkJggg==') no-repeat center
    &-href
      c black
      fontify 15px 500 21px
      bb(1px, solid, black)
    &-info
      c $grey
      fontify 14px 400 20px
      ml 8px
  &__types
    overflow visible
    mb 40px
    @media $PortraitMax
      mb 0
    .swiper-wrapper
      align-items stretch
    .swiper-slide
      w 412px
      h auto
      @media $LandscapeMedium
        w 312px
    .swiper-button-prev
      pos absolute
      background-image none
      size calc((100vw - 100%) / 2) 100%
      t 0
      l calc((100% - 100vw) / 2)
      cursor url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAfCAMAAABeSlSAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAsVBMVEUMNYH///8MNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYH///8OEDCSAAAAOXRSTlMAAD2q6TvoPjnmQDVENEYySDBJLuROLFEq5VIoVSbiVyThWiPgXsOk2GFdWSdUKVMrTUoxM+dBPKkqavEaAAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MGBwkNCY0w8/MAAACnSURBVDjLhdPXDoJAFATQsQCuvawFGyjYe9f//zHhUUxm5vlkk82dAX6SLyCTXAYUHS4c1wMVJVMGFRVTBRU1tw4qGm4TVLRMG1R0bBdU9GwfVAz8IagY2TGomEwDUBHO5qAiihfgYvnhWSFab8QbCOOtEMlfdkJgbw9C4GhOQuDsi7ukt70IkfTjKgRuqmPAXfU06fpDdD3dy1MIvbl0ty8h4L3/xBdYBw8viStCmAAAAABJRU5ErkJggg=='), auto
    .swiper-button-next
      pos absolute
      background-image none
      size calc((100vw - 100%) / 2) 100%
      t 0
      r calc((100% - 100vw) / 2)
      cursor url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAfCAMAAABeSlSAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAsVBMVEUMNYH///8MNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYEMNYH///8OEDCSAAAAOXRSTlMAAKo9O+k+6EDmOUQ1RjRIMkkwTuQuUSxS5SpVKFfiJlrhJF7gI6TDYdhdWVQnUykrTUoxM+dBPKlLel+0AAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MGBwkRLCBDeukAAACjSURBVDjLhdPZDoIwEAXQiyBjRQS1orgr4L7v/v+P+Ywmc+dtkpOmnc4FfqvillrnD8CrukTAF48I1EydCASmQQRCaRKBSGIi0DJtItCxXSKQ2B4R6KcDIjC0IyIwnkyJwGy+IAJZXmD50WtFzlhvCh1sc3KPHXvL3h70eRzNSZ9pkp6higv72yvbj0huUEUod6gieJBdf7K80My9aG7ffql1vtBWDzk5olryAAAAAElFTkSuQmCC'), auto
  &__type
    c black
    size 100% 100%
    border 2px solid #f0f0f0
    padding 23px 50px 35px 47px
    bgc white
    border-bottom-right-radius 90px
    transition .7s background-color, .7s border-color
    @media $LandscapeMedium
      padding 23px 30px 25px 27px
    &:hover
      c white
      bgc $blue
      border-color $blue
    &-href
      c inherit
      fontify 18px 600 24px
      bb(1px, solid, currentColor)
      transition .7s color, .7s border-color
    &-admixture,
    &-about
      c inherit
      mt 14px
      fontify 17px 400 23px
      transition .7s color
      @media $desktopMax
        fontify 15px 400 21px
  &__table
    w 100%
    &-wrapper
      padding 0 32px
      max-width 1364px
      margin 0 auto
      bgc white
      @media $LandscapeMax
        padding 0 20px
      @media $PortraitMax
        dn()
    &-hint
      fontify 17px 400 23px
      mt 20px
      text-align center
      @media $desktopMax
        fontify 15px 400 21px
      @media $PortraitMax
        dn()
    &-name
      font-weight 600
    .choosed
      bgc $blue
      c white
      transition .7s background-color
      td
        transition .7s border-color, .7s color
        border-color #28519c